body {
  min-height: 100vh;
  background: linear-gradient(
    to top right,
    rgb(219, 230, 232),
    rgb(139, 229, 229)
  );
  margin: 0px;
  padding: 0px;
  color: rgb(21, 56, 50);
  text-align: center;
  font-family: "Quicksand";
  font-size: 20px;
  padding: 100px;
}

.top-header {
  font-family: "Bebas Neue", serif;
  font-size: 60px;
  border-radius: 20px;
  width: 92%;
  padding: 20px;
  margin: 10px auto;
}

.card {
  width: 70%;
  margin: 5px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

button {
  border-radius: 10px;
  border: none;
  font-family: "Quicksand";
  background-color: rgb(48, 153, 116);
  color: white;
  font-size: 15px;
  padding: 5px;
  margin-left: 10px;
}

input {
  font-size: 20px;
  font-family: "Quicksand";
  padding: 2px;
  margin: 10px;
  text-align: center;
}

li {
  padding: 8px;
  font-size: 25px;
  list-style-type:decimal-leading-zero;
}

.list-card {
  border-radius: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.mark-done {
  text-decoration: line-through;
}
