body {
  background: linear-gradient(
    to top right,
    rgb(178, 231, 229),
    rgb(219, 230, 232)
  );
  margin: 0px;
  padding: 0px;
  color: rgb(21, 56, 50);
  text-align: center;
  font-family: "Quicksand";
  font-size: 20px;
  padding: 100px;
}

.top-header {
  font-family: "Bebas Neue", serif;
  font-size: 60px;
  border-radius: 20px;
  width: 92%;
  padding: 20px;
  margin: 10px auto;
}

.card {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

button {
  border-radius: 10px;
  border: none;
  font-family: "Quicksand";
  background-color: rgb(48, 153, 116);
  color: white;
  font-size: 15px;
  padding: 5px;
}

input {
  font-size: 20px;
  font-family: "Quicksand";
  padding: 2px;
  margin: 10px;
  text-align: center;
}

li {
  padding: 8px;
  font-size: 15px;
}
